body {
  margin: 0;
  background-color: #242424;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-left: 41vw;
  color: rgb(187, 10, 119);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.263);
}

form {
  width: 25%;
  height: 4vh;
  margin-left: 35%;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    height: 100%;
  }
}

.input {
  width: 25vw;
  border-radius: 10px 0 0 10px;
}

input:focus {
  outline: 2px solid rgb(145, 11, 145);
}

.search {
  border: 0.5px solid white;
  border-radius: 0 10px 10px 0;

  :hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.resultsContainer {
  width: 30vw;
  margin-top: 5vh;
  margin-left: 32.5vw;
  margin-bottom: 5vh;
  border-radius: 1vw;

  :first-child {
    border-radius: 1vw 1vw 0 0;
  }

  :last-child {
    border-radius: 0 0 1vw 1vw;
  }

  > * {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    &:hover {
      background-color: rgba(225, 225, 225, 0.888);
    }

    :first-child {
      margin-left: 8px;
    }

    :last-child {
      margin-right: 8px;
    }
  }
}

.hidden {
  display: none;
}
